In [48]:
import talib
import pandas as pd

In [49]:
data = pd.read_parquet("./stock_data/Cleaned_Stock_Data.parquet")

In [50]:
data.head()

        Date      Open      High       Low     Close     Volume
0 2010-01-04  6.422877  6.455077  6.391278  6.440331  493729600
1 2010-01-05  6.458088  6.487880  6.417461  6.451467  601904800
2 2010-01-06  6.451466  6.477045  6.342226  6.348846  552160000
3 2010-01-07  6.372319  6.379843  6.291067  6.337110  477131200
4 2010-01-08  6.328681  6.379840  6.291366  6.379238  447610800

In [51]:
print(data.isnull().sum())

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [52]:
# Compute Relative Strength Index (RSI)
data['RSI'] = talib.RSI(data['Close'], timeperiod=14)

# Compute Exponential Moving Averages (EMA)
data['EMA_10'] = talib.EMA(data['Close'], timeperiod=10)
data['EMA_50'] = talib.EMA(data['Close'], timeperiod=50)

# Compute Simple Moving Averages (SMA)
data['SMA_10'] = talib.SMA(data['Close'], timeperiod=10)
data['SMA_50'] = talib.SMA(data['Close'], timeperiod=50)

# Compute Moving Average Convergence Divergence (MACD)
data['MACD'], data['MACD_Signal'], _ = talib.MACD(data['Close'], fastperiod=12, slowperiod=26, signalperiod=9)

In [53]:
data.fillna(0, inplace=True)

In [54]:
data.head(15)

,Date,Open,High,Low,Close,Volume,RSI,EMA_10,EMA_50,SMA_10,SMA_50,MACD,MACD_Signal
0,2010-01-04,6.422877,6.455077,6.391278,6.440331,493729600,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
1,2010-01-05,6.458088,6.487880,6.417461,6.451467,601904800,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
2,2010-01-06,6.451466,6.477045,6.342226,6.348846,552160000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
3,2010-01-07,6.372319,6.379843,6.291067,6.337110,477131200,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
4,2010-01-08,6.328681,6.379840,6.291366,6.379238,447610800,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
5,2010-01-11,6.403918,6.409937,6.273011,6.322967,462229600,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
6,2010-01-12,6.295279,6.312734,6.211921,6.251042,594459600,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
7,2010-01-13,6.255557,6.347643,6.142104,6.339216,605892000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
8,2010-01-14,6.322967,6.333500,6.290165,6.302503,432894000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
9,2010-01-15,6.347642,6.367806,6.195369,6.197175,594067600,0.000000,6.336989,0.0,6.336989,0.0,0.0,0.0
10,2010-01-19,6.269399,6.475841,6.236597,6.471327,730007600,0.000000,6.361414,0.0,6.340089,0.0,0.0,0.0
11,2010-01-20,6.467417,6.486677,6.304611,6.371720,612152800,0.000000,6.363288,0.0,6.332114,0.0,0.0,0.0
12,2010-01-21,6.382249,6.419264,6.235693,6.261573,608154400,0.000000,6.344794,0.0,6.323387,0.0,0.0,0.0
13,2010-01-22,6.222755,6.244422,5.933254,5.951009,881767600,0.000000,6.273197,0.0,6.284777,0.0,0.0,0.0
14,2010-01-25,6.094254,6.160158,6.024437,6.111106,1065699600,38.882065,6.243726,0.0,6.257964,0.0,0.0,0.0

In [56]:
data.to_parquet("./stock_data/Stock_Data_with_Indicators.parquet", index=False)